* {
    margin: 0;
    padding: 0;
}

body {
    color: #201F1E;
    @include font-size(16);
    @include font-family(default);
    @include font-weight(400);
    line-height: 1.2;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    -webkit-text-size-adjust: 100%;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.container{
    max-width:1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    &-fluid{
        max-width:1440px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
    }
}

button{
    @include font-family(default);
}
a {
    color: #3B3A39;
    text-decoration: none;
    outline: 0;
    position: relative;

    &:hover {
        color: #3B3A39;
    }
}

.hyper-link {
    color: #D70051;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

figure {
    margin: 0;
}

//============================================================
//  Clearfix
//============================================================
.clearfix::after {
    clear: both;
    content: '';
    display: block;
}

.text-center {
    text-align: center;
}
h1 {
    font-weight: 700;
    font-size: 38px;
}

h2 {
    @include font-size(48);
    @include font-weight(600);
    margin-bottom: 48px;
    color: #4439B9;
    position: relative;

    @include media(700, "max"){
        margin-bottom: 32px;
        @include font-size(32);
    }
}

h3 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 24px;
}

h4 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
}

h5 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
}

h6 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 16px;
}

b {
    font-weight: 700;
}

strong {
    font-weight: 700;
}

.register, 
.info{
    overflow:hidden;
}