/* ============================================================
  Setting
============================================================ */
/* ============================================================
  Font
============================================================ */
@font-face {
  font-family: "Miama";
  src: url("../font/Miama.eot");
  src: url("../font/Miama.eot?#iefix") format("embedded-opentype"), url("../font/Miama.woff2") format("woff2"), url("../font/Miama.woff") format("woff"), url("../font/Miama.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Bricolage Grotesque 96pt";
  src: url("../font/BricolageGrotesque-96ptExtraBold.woff2") format("woff2"), url("../font/BricolageGrotesque-96ptExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../font/BricolageGrotesque-ExtraBold.woff2") format("woff2"), url("../font/BricolageGrotesque-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../font/BricolageGrotesque-Bold.woff2") format("woff2"), url("../font/BricolageGrotesque-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../font/BricolageGrotesque-ExtraLight.woff2") format("woff2"), url("../font/BricolageGrotesque-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../font/BricolageGrotesque-Regular.woff2") format("woff2"), url("../font/BricolageGrotesque-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../font/BricolageGrotesque-Medium.woff2") format("woff2"), url("../font/BricolageGrotesque-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../font/BricolageGrotesque-Light.woff2") format("woff2"), url("../font/BricolageGrotesque-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../font/BricolageGrotesque-SemiBold.woff2") format("woff2"), url("../font/BricolageGrotesque-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* ============================================================
  Break Point
============================================================ */
/* ============================================================
  Font Size
============================================================ */
/* ============================================================
  Font Weight
============================================================ */
/* ============================================================
  Scale Image
============================================================ */
* {
  margin: 0;
  padding: 0;
}

body {
  color: #201F1E;
  font-size: 16px;
  font-family: "Bricolage Grotesque";
  font-weight: 400;
  line-height: 1.2;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container-fluid {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  font-family: "Bricolage Grotesque";
}

a {
  color: #3B3A39;
  text-decoration: none;
  outline: 0;
  position: relative;
}
a:hover {
  color: #3B3A39;
}

.hyper-link {
  color: #D70051;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

figure {
  margin: 0;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.text-center {
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 38px;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 48px;
  color: #4439B9;
  position: relative;
}
@media screen and (max-width: 700px) {
  h2 {
    margin-bottom: 32px;
    font-size: 32px;
  }
}

h3 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 24px;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 16px;
}

h5 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
}

h6 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 16px;
}

b {
  font-weight: 700;
}

strong {
  font-weight: 700;
}

.register,
.info {
  overflow: hidden;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@-webkit-keyframes logoStroke {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes logoStroke {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes logoStrokeFill {
  to {
    stroke: #DDCFFF;
    fill: #DDCFFF;
  }
}
@keyframes logoStrokeFill {
  to {
    stroke: #DDCFFF;
    fill: #DDCFFF;
  }
}
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@-webkit-keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-webkit-keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-webkit-keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-webkit-keyframes success {
  from {
    width: 120px;
  }
  50% {
    width: 205px;
  }
  to {
    width: 170px;
  }
}
@-webkit-keyframes anibtn {
  0% {
    left: -75px;
  }
  50% {
    left: 120%;
  }
  100% {
    left: -75px;
  }
}
@keyframes anibtn {
  0% {
    left: -75px;
  }
  50% {
    left: 120%;
  }
  100% {
    left: -75px;
  }
}
.text-line {
  position: absolute;
  z-index: -1;
}

.btn-primary {
  display: inline-block;
  padding: 0 24px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  background: #1508A8;
  border-radius: 30px;
  -webkit-box-shadow: 0px 3.2px 7.2px 0px rgba(0, 0, 0, 0.13), 0px 0.6px 1.8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3.2px 7.2px 0px rgba(0, 0, 0, 0.13), 0px 0.6px 1.8px 0px rgba(0, 0, 0, 0.1);
  margin-top: 24px;
  border: 1px solid #1508A8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 42px;
  overflow: hidden;
}
@media screen and (max-width: 550px) {
  .btn-primary {
    font-size: 16px;
  }
}
.btn-primary:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 10;
  -webkit-animation-name: anibtn;
          animation-name: anibtn;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.btn-primary:hover {
  -webkit-transform: scale(0.9) !important;
          transform: scale(0.9) !important;
  color: #fff;
}
.btn-primary.disabled {
  pointer-events: none;
  background: #EDEBE9;
  border: 1px solid #EDEBE9;
  color: #A19F9D;
}
.btn-primary.loading {
  pointer-events: none;
  font-size: 0;
  width: 45px;
  border-radius: 50%;
  position: relative;
  padding: 0;
}
.btn-primary.loading .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-perspective: 800px;
  perspective: 800px;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.btn-primary.loading .loader .inner {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.btn-primary.loading .loader .inner.one {
  left: 0%;
  top: 0%;
  -webkit-animation: rotate-one 1s linear infinite;
          animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}
.btn-primary.loading .loader .inner.two {
  right: 0%;
  top: 0%;
  -webkit-animation: rotate-two 1s linear infinite;
          animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}
.btn-primary.loading .loader .inner.three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-three 1s linear infinite;
          animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}
.btn-primary.success {
  -webkit-animation: 0.2s linear success;
          animation: 0.2s linear success;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.banner {
  position: relative;
}
.banner .hero-banner .image__wrapper {
  display: block;
  overflow: hidden;
  position: relative;
}
.banner .hero-banner .image__wrapper img {
  position: absolute;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .hero-banner .image__wrapper::after {
  content: "";
  display: block;
  padding-bottom: 53.5416666667%;
}
@media screen and (max-width: 1700px) {
  .banner .hero-banner .image__wrapper {
    display: block;
    overflow: hidden;
    position: relative;
  }
  .banner .hero-banner .image__wrapper img {
    position: absolute;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .banner .hero-banner .image__wrapper::after {
    content: "";
    display: block;
    padding-bottom: 65.9722222222%;
  }
}
@media screen and (max-width: 991px) {
  .banner .hero-banner .image__wrapper {
    display: block;
    overflow: hidden;
    position: relative;
  }
  .banner .hero-banner .image__wrapper img {
    position: absolute;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .banner .hero-banner .image__wrapper::after {
    content: "";
    display: block;
    padding-bottom: 92.7419354839%;
  }
}
@media screen and (max-width: 600px) {
  .banner .hero-banner .image__wrapper {
    display: block;
    overflow: hidden;
    position: relative;
  }
  .banner .hero-banner .image__wrapper img {
    position: absolute;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .banner .hero-banner .image__wrapper::after {
    content: "";
    display: block;
    padding-bottom: 178.6666666667%;
  }
}
@media screen and (max-width: 550px) {
  .banner .bottom-bg {
    display: none;
  }
}
.banner .bottom-bg .text {
  position: absolute;
  bottom: 24px;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.banner .bottom-bg .text .image__wrapper {
  display: block;
  overflow: hidden;
  position: relative;
}
.banner .bottom-bg .text .image__wrapper img {
  position: absolute;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .bottom-bg .text .image__wrapper::after {
  content: "";
  display: block;
  padding-bottom: 36.9458128079%;
}
@media screen and (max-width: 1400px) {
  .banner .bottom-bg .text {
    bottom: 10px;
  }
}
@media screen and (max-width: 1100px) {
  .banner .bottom-bg .text {
    bottom: -30px;
  }
}
@media screen and (max-width: 600px) {
  .banner .bottom-bg .text {
    display: none;
  }
}
.banner .block-content {
  position: absolute;
  bottom: 0;
  bottom: 80px;
  width: calc(50% - 32px);
  text-align: right;
}
@media screen and (max-width: 1440px) {
  .banner .block-content {
    bottom: 60px;
  }
}
@media screen and (max-width: 1100px) {
  .banner .block-content {
    bottom: 30px;
  }
}
@media screen and (max-width: 780px) {
  .banner .block-content {
    bottom: 20px;
  }
}
@media screen and (max-width: 740px) {
  .banner .block-content {
    bottom: 15px;
  }
}
@media screen and (max-width: 680px) {
  .banner .block-content {
    bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .banner .block-content {
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 430px) {
  .banner .block-content {
    bottom: 15px;
  }
}
@media screen and (max-width: 400px) {
  .banner .block-content {
    bottom: 10px;
  }
}
.banner .block-content h2 {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(48.9%, #0910AB), color-stop(87.42%, #00C2FF));
  background: linear-gradient(#0910AB 48.9%, #00C2FF 87.42%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner .block-content .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.banner .block-content .item.text {
  max-width: 370px;
  padding-right: 14px;
  text-align: right;
}
.banner .block-content .item p {
  font-size: 20px;
  color: #323130;
}
.banner .block-content .item .btn-primary {
  margin-top: 16px;
}
.banner .block-content .item img {
  margin-top: -128px;
  margin-left: 8px;
}

.info {
  margin-bottom: 35px;
  padding-top: 80px;
}
@media screen and (max-width: 700px) {
  .info {
    padding-top: 24px;
  }
}
.info h2 {
  width: 100%;
  text-align: center;
}
.info .info-content {
  width: 100%;
  margin-bottom: 48px;
}
@media screen and (max-width: 650px) {
  .info .info-content {
    margin-bottom: 24px;
  }
}
.info .info-content p {
  font-size: 20px;
}
@media screen and (max-width: 650px) {
  .info .info-content p {
    font-size: 16px;
    text-align: justify;
  }
}
.info .info-content p:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (max-width: 650px) {
  .info .info-content p:not(:last-child) {
    margin-bottom: 16px;
  }
}
.info .img-mb {
  display: none;
}
@media screen and (max-width: 700px) {
  .info .img-mb {
    display: block;
    padding-bottom: 54px;
  }
}
.info .block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.info .block-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.info .block-item:nth-child(3) {
  max-width: 360px;
  padding-right: 48px;
  padding-left: 80px;
}
@media screen and (max-width: 992px) {
  .info .block-item:nth-child(3) {
    max-width: 30%;
    padding-right: 24px;
    padding-left: 0;
  }
}
@media screen and (max-width: 650px) {
  .info .block-item:nth-child(3) {
    display: none;
  }
}
.info .block-item dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  font-size: 22px;
}
@media screen and (max-width: 650px) {
  .info .block-item dl {
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 0;
  }
}
.info .block-item dl dt {
  width: 180px;
  color: #605E5C;
}
@media screen and (max-width: 650px) {
  .info .block-item dl dt {
    width: 100%;
  }
}
.info .block-item dl dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 24px;
  font-weight: 500;
  color: #201F1E;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.info .block-item dl dd img {
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 650px) {
  .info .block-item dl dd {
    width: 100%;
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
  }
  .info .block-item dl dd img {
    margin-top: 10px;
    max-height: 25px;
  }
}
.info .block-item .text_intro {
  left: -55px;
  top: -95px;
}
.info .block-item .btn-content {
  text-align: left;
}
@media screen and (max-width: 650px) {
  .info .block-item .btn-content {
    text-align: center;
  }
}
.info .line {
  background-color: #D0CEEE;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 651px) {
  .info .line {
    display: none;
  }
}
.info .text-line {
  width: 100%;
  left: 0;
  margin-top: -80px;
}
@media screen and (max-width: 650px) {
  .info .text-line {
    margin-top: -120px;
  }
}

.register {
  position: relative;
  min-height: 720px;
  margin-bottom: 38px;
}
@media screen and (max-width: 991px) {
  .register {
    margin-bottom: 140px;
    min-height: 920px;
  }
}
@media screen and (max-width: 700px) {
  .register {
    min-height: unset;
    margin-bottom: 48px;
    padding-bottom: 32px;
  }
}
.register .background {
  position: absolute;
  width: 120%;
  left: -10%;
  overflow: hidden;
}
.register .background img {
  width: 100%;
  height: 720px;
}
@media screen and (max-width: 991px) {
  .register .background img {
    height: 920px;
  }
}
@media screen and (max-width: 700px) {
  .register .background img {
    height: auto;
  }
}
@media screen and (max-width: 550px) {
  .register .background {
    width: 100%;
    left: 0;
  }
}
.register h2 {
  text-align: center;
  margin-top: 40px;
}
@media screen and (max-width: 991px) {
  .register h2 {
    margin-top: 64px;
  }
}
@media screen and (max-width: 700px) {
  .register h2 {
    display: none;
  }
}
.register h2.heading-mb {
  display: block;
  margin: 32px auto;
}
@media screen and (min-width: 701px) {
  .register h2.heading-mb {
    display: none;
  }
}
.register h2.heading-mb svg {
  width: 100%;
}
.register form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  padding: 24px;
  background: #D0CEEE;
  border-radius: 24px;
}
.register form label {
  display: block;
  width: 100%;
  color: #3B3A39;
  margin-bottom: 8px;
  line-height: 18px;
}
@media screen and (max-width: 500px) {
  .register form label {
    font-size: 16px;
  }
}
.register form input[type=text],
.register form input[type=email],
.register form input[type=tel] {
  padding: 8px 12px;
  color: #3B3A39;
  font-size: 20px;
  background: #FAF9F8;
  border-radius: 4px;
  border: 1px solid #FAF9F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
.register form input[type=text]:focus, .register form input[type=text]:focus-visible, .register form input[type=text]:focus-within,
.register form input[type=email]:focus,
.register form input[type=email]:focus-visible,
.register form input[type=email]:focus-within,
.register form input[type=tel]:focus,
.register form input[type=tel]:focus-visible,
.register form input[type=tel]:focus-within {
  border: 1px solid #181A93;
  outline: #181A93 auto 1px;
}
.register form input[type=text]::-webkit-input-placeholder, .register form input[type=email]::-webkit-input-placeholder, .register form input[type=tel]::-webkit-input-placeholder {
  color: #A19F9D;
}
.register form input[type=text]::-moz-placeholder, .register form input[type=email]::-moz-placeholder, .register form input[type=tel]::-moz-placeholder {
  color: #A19F9D;
}
.register form input[type=text]:-ms-input-placeholder, .register form input[type=email]:-ms-input-placeholder, .register form input[type=tel]:-ms-input-placeholder {
  color: #A19F9D;
}
.register form input[type=text]::-ms-input-placeholder, .register form input[type=email]::-ms-input-placeholder, .register form input[type=tel]::-ms-input-placeholder {
  color: #A19F9D;
}
.register form input[type=text]::placeholder,
.register form input[type=email]::placeholder,
.register form input[type=tel]::placeholder {
  color: #A19F9D;
}
.register form input.error {
  border-color: red;
}
.register form div.error,
.register form .err {
  display: block;
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: -15px;
  left: 12px;
}
.register form input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #3B3A39;
  min-width: 18px;
  content: none;
  outline: none;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.register form input[type=radio]:checked:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background: #3B3A39;
  border-radius: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.register form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 24px;
}
@media screen and (max-width: 991px) {
  .register form .form-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.register form .form-group .form-input {
  width: 50%;
  position: relative;
}
@media screen and (max-width: 991px) {
  .register form .form-group .form-input {
    width: 100%;
  }
}
.register form .form-group .form-radio {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.register form .form-group .form-radio label {
  min-width: 100px;
  margin-left: 8px;
  margin-bottom: 0;
}
@media screen and (max-width: 1150px) {
  .register form .form-group .form-radio label {
    min-width: unset;
  }
}
.register form .form-group.form-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
}
.register form .form-group .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
@media screen and (max-width: 1150px) {
  .register form .form-group .form-item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
.register form .form-group .form-item .form-radio:not(:last-child) {
  margin-right: 16px;
}
@media screen and (max-width: 1150px) {
  .register form .form-group .form-item .form-radio:not(:last-child) {
    margin-right: 0;
  }
}
.register form .form-group p {
  display: block;
  width: 100%;
  color: #3B3A39;
  margin-bottom: 8px;
}
.register figcaption {
  margin-top: 8px;
  text-align: center;
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  .register figcaption {
    font-size: 14px;
  }
}
.register .block-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1700px) {
  .register .block-register {
    padding-left: 110px;
  }
}
@media screen and (max-width: 1440px) {
  .register .block-register {
    padding-left: 0;
  }
}
.register .block-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 700px) {
  .register .block-item {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .register .block-item img {
    display: none;
  }
}
.register .block-item:last-child {
  max-width: 550px;
  padding-left: 48px;
}
@media screen and (max-width: 991px) {
  .register .block-item:last-child {
    max-width: 488px;
    padding-left: 24px;
  }
}
@media screen and (max-width: 700px) {
  .register .block-item:last-child {
    max-width: 100%;
    padding-left: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    text-align: center;
    margin: 16px 0 0;
  }
}
.register .text-line {
  left: -110px;
  margin-top: -10px;
  width: 470px;
}
@media screen and (max-width: 1440px) {
  .register .text-line {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80%;
    margin-top: 10px;
  }
}

.content-program dl {
  max-width: 830px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 650px) {
  .content-program dl {
    font-size: 16px;
  }
}
.content-program dl dt {
  padding-right: 16px;
  text-align: center;
  width: 64px;
  border-right: 1px solid #0B0454;
  margin: 4px 16px 4px 8px;
}
@media screen and (max-width: 650px) {
  .content-program dl dt {
    width: 44px;
  }
}
.content-program dl dd {
  padding: 4px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.content-program .text-line {
  width: 505px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: -40px;
}
@media screen and (max-width: 650px) {
  .content-program .text-line {
    width: 80%;
    margin-top: -30px;
  }
}

.line {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
  height: 1px;
  background-color: #736BCB;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transition: 1.6s;
  transition: 1.6s;
  display: block;
}
.line.animationTrigger--active {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.path {
  fill: #fff;
  stroke: #DDCFFF;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.active .path {
  stroke-dasharray: 1850 2000;
  stroke-dashoffset: 1851;
  -webkit-animation: logoStroke 3s linear forwards, logoStrokeFill 0.75s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.5s forwards;
          animation: logoStroke 3s linear forwards, logoStrokeFill 0.75s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.5s forwards;
}

.footer {
  z-index: 1;
  --footer-background: #0B0454;
  position: relative;
  min-height: 190px;
  background-image: url("/run-gulliver/bhd-fanmeeting/assets/img/bg-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
  overflow: hidden;
}
@media screen and (max-width: 1100px) {
  .footer {
    background-position: center;
  }
}
@media screen and (max-width: 460px) {
  .footer {
    background-image: url("/run-gulliver/bhd-fanmeeting/assets/img/bg-footer-mb.png");
    min-height: 172px;
    background-position-y: 0px;
  }
}
.footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--footer-background);
  -webkit-filter: url("#blob");
          filter: url("#blob");
}
.footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}
.footer .footer-content p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 24px;
}
.footer .footer-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
  list-style: none;
}
.footer .footer-content .copy-right {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
  margin-top: 16px;
}
@media screen and (max-width: 460px) {
  .footer .footer-content .copy-right {
    font-size: 12px;
  }
}

.overlay-popup {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.popup-checkform {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  padding: 48px;
  border-radius: 24px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 10px #888888;
          box-shadow: 5px 5px 10px #888888;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 560px) {
  .popup-checkform {
    width: calc(100% - 30px);
    padding: 16px 13px;
  }
}
@media screen and (max-width: 390px) {
  .popup-checkform {
    padding: 16px 6px;
  }
}
.popup-checkform .popup-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.popup-checkform p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(11, 4, 84);
  margin-bottom: 16px;
}
@media screen and (max-width: 560px) {
  .popup-checkform p {
    margin-bottom: 8px;
    font-size: 18px;
  }
}
@media screen and (max-width: 390px) {
  .popup-checkform p {
    margin-bottom: 6px;
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  .popup-checkform p {
    margin-bottom: 5px;
    font-size: 14px;
  }
}
@media screen and (max-width: 560px) {
  .popup-checkform span {
    font-size: 15px;
  }
}
@media screen and (max-width: 390px) {
  .popup-checkform span {
    font-size: 13px;
  }
}
@media screen and (max-width: 320px) {
  .popup-checkform span {
    font-size: 12px;
  }
}
.popup-checkform .span {
  font-size: 20px;
  font-weight: 400;
  color: rgb(32, 31, 30);
}
@media screen and (max-width: 560px) {
  .popup-checkform .span {
    font-size: 14px;
  }
}
.popup-checkform .close {
  position: absolute;
  right: -22px;
  top: -16px;
}

.logo {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
}
@media screen and (max-width: 1200px) {
  .logo img {
    max-width: 100px;
  }
}
@media screen and (max-width: 390px) {
  .logo img {
    max-width: 90px;
  }
}
@media screen and (max-width: 360px) {
  .logo img {
    max-width: 80px;
  }
}
@media screen and (max-width: 550px) {
  .logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}