.homePage{
    min-height: 100vh;
    .image-iphone{
        position: absolute;
        top: 80px;
        z-index: -1;

        @include media(1820, "max"){
            left: -5%;
        }

        @include media(1700, "max"){
            left: -8%;
        }

        @include media(1600, "max"){
            left: -10%;
        }

        @include media(1500, "max"){
            left: -10%;
            img{
                width: 80%;
            }
        }

        @include media(1300, "max"){
            left: -5%;
            img{
                width: 60%;
            }
        }

        @include media(1230, "max"){
            left: -8%;
        }

        @include media(1200, "max"){
            left: -10%;
        }

        @include media(1100, "max"){
            left: -7%;

            img{
                width: 45%;
            }
        }

        @include media(1060, "max"){
            left: -8%;
        }

        @include media(992, "max"){
            display: none;
        }
    }

    .hidden-pc{
        display: none;
        @include media(992, "max"){
            display: block;
        }
    }

    .mb-only{
        display: none;
        @include media(550, "max"){
            display: block;
            width: 100%;
        }
    }

    .content{
        max-width: 626px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-top: 72px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        @include media(1400, "max"){
            max-width: 600px;
        }

        @include media(992, "max"){
            max-width: 100%;
            padding-top: 24px;
            padding-right: 16px;
        }

        @include media(800, "max"){
            padding-left: 16px;
        }
        .iphone{
            max-width: 445px;
            margin: -14px auto;

            @include media(550, "max"){
                margin: -24px 0;
            }
        }

        .title{
            font-size: 0;

            @media(min-width:993px) and (max-width:1400px){
                img{
                    max-width: 80%;
                }
            }

            @include media(400, "max"){
                img{
                    width: 100%;
                }
            }
        }

        h2{
            @include font-size(36);
            color: rgba(0, 0, 0, 1);
            @media(min-width:993px) and (max-width:1400px){
                @include font-size(30);
            }
            @include media(992, "max"){
                text-align: center;
            }
            @include media(550, "max"){
                @include font-size(32);
                margin: 0 auto;
                max-width: 270px;
            }
        }

        p {
            @include font-size(20);
            line-height: 25px;
            @media(min-width:993px) and (max-width:1400px){
                @include font-size(18);
            }

            @include media(992, "max"){
                max-width: 800px;
            }

            @include media(550, "max"){
                @include font-size(16);
            }
        }

        .group-button{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
            margin-bottom: 24px;
            @include media(992, "max"){
                max-width: 800px;
            }
            .social{
                display: flex;
            }

            @include media(550, "max"){
                margin-bottom: 0;
                justify-content: center;
                .social{
                    display: none;
                }
            }
        }

        .social{
            display: flex;
            align-items: center;
            gap: 24px;
            @include media(550, "max"){
                justify-content: center;
                margin-bottom: 48px;
            }
            @include media(551, "min"){
               display: none;
            }

            a{
                transition: .3s ease-in-out;
                &:hover{
                    opacity: .5;
                }
            }
            .youtube {
                height: 40px;
            }
            .facebook{
                height: 45px;
            }
        }

        .youtube-view{
            display: flex;
            align-items: center;
            gap: 24px;
            justify-content: center;
            @include media(992, "max"){
                justify-content: left;
            }
            @include media(550, "max"){
                justify-content: center;
            }
            .img-readmore{
                margin-top: -85px;

                @include media(550, "max"){
                   display: none;
                }
            }

            .partner{
                @include media(550, "max"){
                    display: none;
                }
            }
        }

        iframe{
            border-radius: 20px;
            border: 4px solid #FF9900;
            margin-bottom: 24px;

            @include media(550, "max"){
                width: 100%;
            }
        }

        .partner{
            display: flex;
            gap: 48px;
            justify-content: center;
            @include media(550, "max"){
               margin-bottom: 12px;
               gap: 16px;
            }
            li{
                text-align: center;
                @include font-size(16);
                @include font-weight(600);
                color: rgba(0, 72, 155, 1);
                display: flex;
                flex-direction: column;
                gap: 4px;

                @include media(550, "max"){
                    @include font-size(14);
                }

                img{
                    max-height: 40px;

                    @include media(550, "max"){
                        max-height: 32px;
                    }
                }
            }
        }
    }

    .copy-right{
        color: rgba(4, 38, 76, 1);
        text-align: center;
        margin-top: 60px;
        margin-bottom: 16px;
        .partner{
            display: none;
        }
        @include media(992, "max"){
            margin-top: 120px;
            margin-left: -72px;
        }
        @include media(800, "max"){
            margin-top: 120px;
            margin-left: -16px;
        }
        
        @include media(550, "max"){
            margin-left: 0;
            .partner{
                display: flex;
            }
            @include font-size(14);
            margin-top: -24px;
            position: relative;
            z-index: 2;
            &::after{
                content:'';
                position: absolute;
                left: -16px;
                bottom: -75%;
                z-index: -1;
                -webkit-filter: blur(4px);
                filter: blur(4px);
                background: rgba(255, 255, 255, 0.5);
                -webkit-backdrop-filter: blur(8px);
                backdrop-filter: blur(8px);
                width: 550px;
                height: 200px;
                border-radius: 50%;
            }
        }

        @include media(480, "max"){
            &::after{
                left: -32px;
            }
        }

        @include media(450, "max"){
            &::after{
                left: -42px;
            }
        }
        
        @include media(400, "max"){
            &::after{
                left: -32px;
                width: 420px;
            }
        }
    }
}

.background-home{
    img{
        position: fixed;
        @include media(992, "max"){
            position: absolute;
        }
        z-index: 10;
    }
    .noodles{
        right: 0;
        top: 0;
       width: 22%;

        @include media(1500, "max"){
            width: 20%;
        }

        @include media(992, "max"){
            display:none;
        }
    }

    .boat{
        left: 0;
        bottom: 0;
        width: 30%;

        @include media(550, "max"){
            display: none;
        }
    }

    .chef{
        right: 0;
        bottom: 0;
        width: 30%;

        @include media(550, "max"){
            display: none;
        }
    }
}


.image-flex {
    display: flex;
    align-items: center;
    gap: 38px;
    @include media(550, "max"){
        gap: 12px;
    }
    .image-mb{
        display: none;
        @include media(992, "max"){
            display: block;
            max-width: 33%;
        }
    }

    .title img{
        max-width: 100%;
        width: 100%;
    }
}